#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <300>;
};

&lt {
    flavor = "balanced";
    quick-tap-ms = <300>;
};

/ {
    combos {
        compatible = "zmk,combos";

        ZAtoLayer2 {
            bindings = <&sl 2>;
            key-positions = <10 20>;
        };

        ZXtoMacro1 {
            bindings = <&macro1>;
            key-positions = <20 21>;
        };

        LEnterToLayer5 {
            bindings = <&mo 5>;
            key-positions = <18 19>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        macro1: macro1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_0 &kp NUMBER_7 &kp NUMBER_2 &kp NUMBER_1 &kp ENTER>;
            label = "MACRO1";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W         &kp E         &kp R                   &kp T                                           &kp Y        &kp U  &kp I     &kp O     &kp P
&kp A      &kp S         &kp D         &kp F                   &kp G                                           &kp H        &kp J  &kp K     &kp L     &lt 3 ENTER
&kp Z      &kp X         &kp C         &kp V                   &kp B                                           &kp N        &kp M  &mkp MB1  &mkp MB3  &mkp MB2
&kp LCTRL  &kp LEFT_GUI  &kp LEFT_ALT  &mt LEFT_CONTROL GRAVE  &kp LEFT_SHIFT  &lt 1 SPACE      &kp BACKSPACE  &lt 2 ENTER                             &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        SYMBOL {
            bindings = <
&kp ESC              &kp TAB        &kp UP         &kp LS(NUMBER_1)  &kp LS(FSLH)                      &kp MINUS            &kp EQUAL    &kp LS(INTERNATIONAL_3)  &kp LS(NUMBER_8)   &kp LS(NUMBER_9)
&kp GRAVE            &kp LEFT       &kp DOWN       &kp RIGHT         &kp MINUS                         &kp SEMICOLON        &kp COLON    &kp LEFT_BRACKET         &kp RIGHT_BRACKET  &kp BACKSLASH
&kp INTERNATIONAL_3  &kp BACKSLASH  &kp LS(EQUAL)  &kp COMMA         &kp PERIOD                        &kp INTERNATIONAL_3  &kp AT_SIGN  &kp UNDER                &kp SLASH          &kp RIGHT_SHIFT
&macro1              &trans         &trans         &trans            &trans        &trans      &trans  &kp DELETE                                                                    &kp RCTRL
            >;
        };

        NUM {
            bindings = <
&kp ESCAPE  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp BACKSPACE                      &kp LG(LS(S))  &kp F7  &kp F8  &kp F9  &kp F10
&kp GRAVE   &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp ENTER                          &none          &kp F4  &kp F5  &kp F6  &kp F11
&kp TAB     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD                         &mo 6          &kp F1  &kp F2  &kp F3  &kp F12
&trans      &kp NUMBER_0  &kp NUMBER_0  &trans        &trans         &trans      &trans  &trans                                 &kp RCTRL
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &kp LC(W)       &kp F5        &kp LS(LC(TAB))  &kp LC(TAB)  &mo 5
&trans  &trans  &trans  &trans  &trans                      &mkp MB3        &mkp MB1      &mkp MB2         &mo 5        &none
&trans  &trans  &trans  &trans  &trans                      &msc SCRL_DOWN  &kp LA(LEFT)  &kp LA(RIGHT)    &none        &none
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                      &none
            >;
        };

        blank {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                                             &trans            &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                                             &trans            &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                                             &trans            &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &kp LS(LG(N5))  &kp LS(LG(N4))      &kp LC(SPACE)  &kp LC(UP_ARROW)                          &trans
            >;
        };

        CONFIG {
            bindings = <
&bt BT_CLR_ALL  &bt BT_CLR    &trans        &trans        &trans                            &bootloader  &trans  &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans                            &trans       &trans  &trans  &trans  &trans
&bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                      &bootloader  &trans  &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans        &trans      &trans  &trans                               &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
